body{
    background-color: black;
}

h1{
 color: rgb(9, 129, 9);
font-size: 70px;
background: fixed;
text-align: center;
background-color:rgb(5, 107, 107) ;
}

 p{
color: white;
font-family: arial;
font-size:30px;
background: fixed;
 }

 