body{
    background-color: black;
}

h1{
 color: rgb(7, 78, 7);
font-size: 70px;
background: fixed;
text-align: center;
}

 p{
color: white;
font-family: arial;
font-size:30px;
background: fixed;
 }

 