title {
    color: rgba(16, 231, 8, 0.863);
    text-align: left;
    }
body{
    background-color: black;
}

h1{
 color: rgb(7, 78, 7);
font-family:Tahoma;
background: fixed;
}

 p{
color: whitesmoke;
font-family: arial;
font-size: large;
background: fixed;
 }